@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: rgb(var(--foreground-rgb));
}

.MuiDataGrid-row:nth-child(even) {
  background-color: rgb(243, 243, 243);
}

.header-table {
  background-color: #929da9 !important;
  color: white !important;
}
